/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    display: flex;
    background-color: black;
}

/* logo */
.logo img {
    max-height: 32px;
    padding-left: 20%; 
    margin-right: 10px;
}

/* navigation container */
.navbar {
    margin: auto; 
    display: flex;
}

/* navigation items */
.nav-item {
    padding-left: 5px;
    display: flex;
    list-style: none;
    align-items: center;
    .home{ display: none; }
}

/* nav-items style */
.nav-item a {
    text-decoration: none;
    color: rgb(215, 215, 215);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding: 10px 15px;
}

/* nav-items hover */
.nav-item a:hover {
    color: black;
    background-color: #979494;
    font-weight: bold;
    transition: filter 0.30s ease, background-color 0.40s;
}

.buttons, .buttons a {
    text-decoration: none;
    display: flex;
    text-decoration: none;
    padding-right: 5px;
}

/* login button style */
.login {
    color:  rgb(215, 215, 215);
    font-weight: bolder;
    font-size: 16px;
    padding: 10px 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: none;
    border: none;
    align-items: center;
}

/* login button hover and active */
.login:hover, .login:active {
    color: rgb(0, 0, 0);
    background-color: rgb(215, 215, 215);
    transition: background-color 0.3s;
}

/* sign in button style */
.Signin-btn {
    display: block;
    padding: 10px 15px;
    background: rgb(215, 215, 215);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    border: none;
}
 
/* sign in button hover and active*/
.Signin-btn:hover, .Signin-btn:active {
    background-color: transparent;
    color:  rgb(215, 215, 215);
    transition: background-color 0.3s;
}
 
/* humburger style*/
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

/* hamburger style*/
.hamburger span {
    width: 25px;
    height: 2.7px;
    background-color:  rgb(215, 215, 215);
    border-radius: 3px;
}

@media (max-width: 800px) {
    .buttons {   
        display: none;    /*hides login sigup button in mobile disply*/
    }
    .nav-item {
        position: absolute;
        top: 50px;
        right: 0;
        background-color: black;
        flex-direction: column;
        width: 200px;
        overflow: hidden;
        transition: height 0.3s ease;  
    }
    .nav-items.open {
        height: auto;
    }
    .navbar {
        margin: 0;
        flex-grow: 1; /* This will make the navbar take up available space */
    }
    .hamburger {
        display: flex;
        justify-content: center;
        flex-grow: 0; /* Prevent the hamburger from growing */
        padding-right: 10px; /* Add padding to the right if needed */
    }
}



